<a href="https://colab.research.google.com/github/Udaykiran06-art/PANDAS-DATAFRAME-SELECTION---ILOC-AND-LOC/blob/main/PANDAS_DF_SELECTION_ILOC_%26_LOC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sales1.csv to sales1.csv

In [ ]:
#Selecting single column from the DataFrame
import pandas as pd
df = pd.read_csv("sales1.csv")
print(df.Product)

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [ ]:
#Selecting single column from the DataFrame
import pandas as pd
df = pd.read_csv("sales1.csv")
s = df["Product"]
print(s)

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [ ]:
#Selecting multiple columns from the Dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
cols = ["Customer Name","Product"]
df2 = df1[cols]
print(df2)

    Customer Name                 Product
0           Veeru  34in Ultrawide Monitor
1           Tarun             Samsung m10
2           Kedar            20in Monitor
3         Lavanya               iPhone 11
4            Venu      Macbook Pro Laptop
..            ...                     ...
595        Balaji      Macbook Pro Laptop
596       Lavanya         ThinkPad Laptop
597          Venu           Flatscreen TV
598        Siddhu             Samsung m20
599         Tarun      LG Washing Machine

[600 rows x 2 columns]

In [ ]:
#Selecting single column from the DataFrame,apply total
import pandas as pd
df = pd.read_csv("sales1.csv")
total = df['Quantity'].sum()
print(total)

889

In [ ]:
#Creating a Dataframe by loading csv file
import pandas as pd
df = pd.read_csv("sales1.csv")
print(df)

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [ ]:
#Select specific customer from existing DataFrame
import pandas as pd
df1 = pd.read_csv("sales1.csv")
cust_name = df1["Customer Name"]== "Veeru"
print(df1[cust_name])

     Order ID Customer Name                     Product  Quantity
0      166837         Veeru      34in Ultrawide Monitor         2
25     166861         Veeru            Wired Headphones         1
34     166870         Veeru            Wired Headphones         2
61     166897         Veeru        USB-C Charging Cable         2
65     166901         Veeru                 Samsung m10         2
77     166913         Veeru                    iPhone 9         1
85     166920         Veeru                    iPhone 9         2
88     166923         Veeru            27in FHD Monitor         1
113    166948         Veeru                 Samsung m10         1
117    166952         Veeru          LG Washing Machine         2
129    166964         Veeru                 Samsung m10         1
130    166965         Veeru  Bose SoundSport Headphones         1
134    166968         Veeru                    iPhone 7         2
190    167019         Veeru          Macbook Pro Laptop         2
283    167105         Veeru          LG Washing Machine         1
315    167135         Veeru          LG Washing Machine         1
322    167142         Veeru                   iPhone 7s         1
326    167146         Veeru                 Samsung m20         2
343    167162         Veeru                20in Monitor         1
389    167208         Veeru      34in Ultrawide Monitor         1
435    167252         Veeru                 Samsung m20         1
461    167277         Veeru                    LG Dryer         2
467    167282         Veeru               Flatscreen TV         1
471    167285         Veeru               Flatscreen TV         1
491    167304         Veeru                   iPhone 11         1
530    167408         Veeru                20in Monitor         3
553    167364         Veeru                    iPhone 9         3
565    167375         Veeru      27in 4K Gaming Monitor         1
573    167382         Veeru                Google Phone         2

In [ ]:
#Selecting specific customer from existing Dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
prod_name = df1["Product"]=="Macbook Pro Laptop"
print(df1[prod_name])

     Order ID Customer Name             Product  Quantity
4      166841          Venu  Macbook Pro Laptop         2
11     166848       Karteek  Macbook Pro Laptop         1
15     166851  Jaya Chandra  Macbook Pro Laptop         1
71     166907       Karteek  Macbook Pro Laptop         1
122    166957        Harsha  Macbook Pro Laptop         2
136    166970         Tarun  Macbook Pro Laptop         2
156    166986       Pradhan  Macbook Pro Laptop         1
184    167013       Sumanth  Macbook Pro Laptop         1
190    167019         Veeru  Macbook Pro Laptop         2
192    167021   Mallikarjun  Macbook Pro Laptop         1
199    167027        Balaji  Macbook Pro Laptop         1
225    167050          Venu  Macbook Pro Laptop         2
242    167067     Madhurima  Macbook Pro Laptop         2
251    167074       Lavanya  Macbook Pro Laptop         1
261    167084        Shahid  Macbook Pro Laptop         1
285    167107  Jaya Chandra  Macbook Pro Laptop         1
302    167123       Karteek  Macbook Pro Laptop         1
310    167130        Partha  Macbook Pro Laptop         2
332    167152         Venki  Macbook Pro Laptop         1
348    167167         Kedar  Macbook Pro Laptop         2
353    167172        Balaji  Macbook Pro Laptop         1
357    167176        Shahid  Macbook Pro Laptop         2
438    167255       Sumanth  Macbook Pro Laptop         2
457    167273         Tarun  Macbook Pro Laptop         1
466    167281         Vijay  Macbook Pro Laptop         1
487    167300          Venu  Macbook Pro Laptop         1
502    167315         Kedar  Macbook Pro Laptop         1
507    167320     Madhurima  Macbook Pro Laptop         1
540    167351       Neelima  Macbook Pro Laptop         1
595    167403        Balaji  Macbook Pro Laptop         1

In [ ]:
#Loading csv file by using pandas
import pandas as pd
df1 = pd.read_csv("sales1.csv")
print(df1.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#First row of the dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
s = df1.iloc[0]
print(s)

Order ID                         166837
Customer Name                     Veeru
Product          34in Ultrawide Monitor
Quantity                              2
Name: 0, dtype: object

In [ ]:
#Second row of the DataFrame
import pandas as pd
df1 = pd.read_csv("sales1.csv")
s = df1.iloc[1]
print(s)

Order ID              166838
Customer Name          Tarun
Product          Samsung m10
Quantity                   3
Name: 1, dtype: object

In [ ]:
#Last row of the Dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
s = df1.iloc[-1]
print(s)

Order ID                     167407
Customer Name                 Tarun
Product          LG Washing Machine
Quantity                          1
Name: 599, dtype: object

In [ ]:
#First column of the DataFrame
import pandas as pd
df1 = pd.read_csv("sales1.csv")
s = df1.iloc[:,0]
print(s)

0      166837
1      166838
2      166839
3      166840
4      166841
        ...
595    167403
596    167404
597    167405
598    167406
599    167407
Name: Order ID, Length: 600, dtype: int64

In [ ]:
#Second column of the DataFrame
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[:,1]
print(df2)

0        Veeru
1        Tarun
2        Kedar
3      Lavanya
4         Venu
        ...
595     Balaji
596    Lavanya
597       Venu
598     Siddhu
599      Tarun
Name: Customer Name, Length: 600, dtype: object

In [ ]:
#Last column of the DataFrame
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[:,-1]
print(df2)

0      2
1      3
2      1
3      3
4      2
      ..
595    1
596    1
597    1
598    2
599    1
Name: Quantity, Length: 600, dtype: int64

In [ ]:
#First five rows from DataFrame
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[0:5]
print(df2)

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#First two columns of the Dataframe with all rows
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[:,0:2]
print(df2)

     Order ID Customer Name
0      166837         Veeru
1      166838         Tarun
2      166839         Kedar
3      166840       Lavanya
4      166841          Venu
..        ...           ...
595    167403        Balaji
596    167404       Lavanya
597    167405          Venu
598    167406        Siddhu
599    167407         Tarun

[600 rows x 2 columns]

In [ ]:
#First three columns of the dataframe with all rows
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[:,0:3]
print(df2)

     Order ID Customer Name                 Product
0      166837         Veeru  34in Ultrawide Monitor
1      166838         Tarun             Samsung m10
2      166839         Kedar            20in Monitor
3      166840       Lavanya               iPhone 11
4      166841          Venu      Macbook Pro Laptop
..        ...           ...                     ...
595    167403        Balaji      Macbook Pro Laptop
596    167404       Lavanya         ThinkPad Laptop
597    167405          Venu           Flatscreen TV
598    167406        Siddhu             Samsung m20
599    167407         Tarun      LG Washing Machine

[600 rows x 3 columns]

In [ ]:
#first 5 rows and first 2 columns of the Dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[0:5,0:2]
print(df2)

   Order ID Customer Name
0    166837         Veeru
1    166838         Tarun
2    166839         Kedar
3    166840       Lavanya
4    166841          Venu

In [ ]:
#first 5 rows and first 3 columns of the Dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.iloc[0:5,0:3]
print(df1.head())
print()
print(df2)

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

   Order ID Customer Name                 Product
0    166837         Veeru  34in Ultrawide Monitor
1    166838         Tarun             Samsung m10
2    166839         Kedar            20in Monitor
3    166840       Lavanya               iPhone 11
4    166841          Venu      Macbook Pro Laptop

In [ ]:
#Loading csv file
import pandas as pd
df1 = pd.read_csv("sales1.csv")
print(df1.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#Setting index as a product name and selecting Dataframe
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df1.set_index("Product",inplace=True)
print(df1)

                        Order ID Customer Name  Quantity
Product
34in Ultrawide Monitor    166837         Veeru         2
Samsung m10               166838         Tarun         3
20in Monitor              166839         Kedar         1
iPhone 11                 166840       Lavanya         3
Macbook Pro Laptop        166841          Venu         2
...                          ...           ...       ...
Macbook Pro Laptop        167403        Balaji         1
ThinkPad Laptop           167404       Lavanya         1
Flatscreen TV             167405          Venu         1
Samsung m20               167406        Siddhu         2
LG Washing Machine        167407         Tarun         1

[600 rows x 3 columns]

In [ ]:
#Setting index as a product name and selecting product
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = 'Macbook Pro Laptop'
df2 = df1.loc[a]
print(df2.head(10))

                    Order ID Customer Name  Quantity
Product
Macbook Pro Laptop    166841          Venu         2
Macbook Pro Laptop    166848       Karteek         1
Macbook Pro Laptop    166851  Jaya Chandra         1
Macbook Pro Laptop    166907       Karteek         1
Macbook Pro Laptop    166957        Harsha         2
Macbook Pro Laptop    166970         Tarun         2
Macbook Pro Laptop    166986       Pradhan         1
Macbook Pro Laptop    167013       Sumanth         1
Macbook Pro Laptop    167019         Veeru         2
Macbook Pro Laptop    167021   Mallikarjun         1

In [ ]:
#Setting index as a Product name and selecting product
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = 'iPhone 11'
df2 = df1.loc[a]
print(df2.head(10))

           Order ID Customer Name  Quantity
Product
iPhone 11    166840       Lavanya         3
iPhone 11    166846        Siddhu         1
iPhone 11    166858    Chaithanya         1
iPhone 11    166877       Neelima         1
iPhone 11    166904       Lavanya         1
iPhone 11    166925    Chaithanya         2
iPhone 11    166966       Karteek         1
iPhone 11    167010    Chaithanya         3
iPhone 11    167014         Sagar         3
iPhone 11    167048       Sumanth         1

In [ ]:
#Setting index as a product name and selecting two products
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = ['Macbook Pro Laptop','iPhone 11']
df2 = df1.loc[a]
print(df2)

                    Order ID Customer Name  Quantity
Product
Macbook Pro Laptop    166841          Venu         2
Macbook Pro Laptop    166848       Karteek         1
Macbook Pro Laptop    166851  Jaya Chandra         1
Macbook Pro Laptop    166907       Karteek         1
Macbook Pro Laptop    166957        Harsha         2
Macbook Pro Laptop    166970         Tarun         2
Macbook Pro Laptop    166986       Pradhan         1
Macbook Pro Laptop    167013       Sumanth         1
Macbook Pro Laptop    167019         Veeru         2
Macbook Pro Laptop    167021   Mallikarjun         1
Macbook Pro Laptop    167027        Balaji         1
Macbook Pro Laptop    167050          Venu         2
Macbook Pro Laptop    167067     Madhurima         2
Macbook Pro Laptop    167074       Lavanya         1
Macbook Pro Laptop    167084        Shahid         1
Macbook Pro Laptop    167107  Jaya Chandra         1
Macbook Pro Laptop    167123       Karteek         1
Macbook Pro Laptop    167130        Partha         2
Macbook Pro Laptop    167152         Venki         1
Macbook Pro Laptop    167167         Kedar         2
Macbook Pro Laptop    167172        Balaji         1
Macbook Pro Laptop    167176        Shahid         2
Macbook Pro Laptop    167255       Sumanth         2
Macbook Pro Laptop    167273         Tarun         1
Macbook Pro Laptop    167281         Vijay         1
Macbook Pro Laptop    167300          Venu         1
Macbook Pro Laptop    167315         Kedar         1
Macbook Pro Laptop    167320     Madhurima         1
Macbook Pro Laptop    167351       Neelima         1
Macbook Pro Laptop    167403        Balaji         1
iPhone 11             166840       Lavanya         3
iPhone 11             166846        Siddhu         1
iPhone 11             166858    Chaithanya         1
iPhone 11             166877       Neelima         1
iPhone 11             166904       Lavanya         1
iPhone 11             166925    Chaithanya         2
iPhone 11             166966       Karteek         1
iPhone 11             167010    Chaithanya         3
iPhone 11             167014         Sagar         3
iPhone 11             167048       Sumanth         1
iPhone 11             167055         Sagar         1
iPhone 11             167061        Siddhu         1
iPhone 11             167072         Tarun         1
iPhone 11             167101        Balaji         2
iPhone 11             167104         Vijay         2
iPhone 11             167137       Pradhan         1
iPhone 11             167229       Pradhan         1
iPhone 11             167246   Mallikarjun         2
iPhone 11             167258    Nireekshan         1
iPhone 11             167260       Karteek         2
iPhone 11             167267        Shahid         1
iPhone 11             167268          Venu         1
iPhone 11             167275          Venu         2
iPhone 11             167292        Harsha         1
iPhone 11             167304         Veeru         1
iPhone 11             167311         Sagar         1
iPhone 11             167369         Sagar         1
iPhone 11             167379     Madhurima         2
iPhone 11             167401   Mallikarjun         1

In [ ]:
#Setting index as a product name and selecting two products
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = ['ThinkPad Laptop','Flatscreen TV']
df2 = df1.loc[a]
print(df2)

                 Order ID Customer Name  Quantity
Product
ThinkPad Laptop    166849        Shahid         1
ThinkPad Laptop    166878        Partha         1
ThinkPad Laptop    166903         Vijay         2
ThinkPad Laptop    166909       Pradhan         2
ThinkPad Laptop    166920  Jaya Chandra         2
ThinkPad Laptop    166954         Vijay         3
ThinkPad Laptop    166977         Kedar         1
ThinkPad Laptop    167018        Balaji         1
ThinkPad Laptop    167039         Venki         1
ThinkPad Laptop    167068         Kedar         1
ThinkPad Laptop    167093         Vijay         2
ThinkPad Laptop    167098         Sagar         1
ThinkPad Laptop    167150         Tarun         1
ThinkPad Laptop    167169     Madhurima         1
ThinkPad Laptop    167189        Partha         2
ThinkPad Laptop    167235        Balaji         3
ThinkPad Laptop    167243    Nireekshan         1
ThinkPad Laptop    167253    Nireekshan         2
ThinkPad Laptop    167297        Partha         1
ThinkPad Laptop    167329       Karteek         1
ThinkPad Laptop    167367       Neelima         1
ThinkPad Laptop    167404       Lavanya         1
Flatscreen TV      166866    Nireekshan         2
Flatscreen TV      166911        Siddhu         1
Flatscreen TV      166938        Partha         3
Flatscreen TV      166961         Venki         1
Flatscreen TV      166969       Karteek         1
Flatscreen TV      166995       Karteek         1
Flatscreen TV      167004       Sumanth         1
Flatscreen TV      167052       Neelima         1
Flatscreen TV      167053         Venki         1
Flatscreen TV      167075       Lavanya         1
Flatscreen TV      167094        Balaji         2
Flatscreen TV      167100       Neelima         1
Flatscreen TV      167102       Pradhan         1
Flatscreen TV      167125        Harsha         3
Flatscreen TV      167133       Sumanth         2
Flatscreen TV      167141       Karteek         1
Flatscreen TV      167158    Chaithanya         1
Flatscreen TV      167242  Jaya Chandra         3
Flatscreen TV      167282         Veeru         1
Flatscreen TV      167285         Veeru         1
Flatscreen TV      167295        Siddhu         1
Flatscreen TV      167306    Nireekshan         1
Flatscreen TV      167340        Shahid         1
Flatscreen TV      167353  Jaya Chandra         2
Flatscreen TV      167372   Mallikarjun         1
Flatscreen TV      167405          Venu         1

In [ ]:
#Setting index as a product name and selecting a couple products names with Order id and quantity
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = ['ThinkPad Laptop','Flatscreen TV']
b = ["Order ID","Quantity"]
df2 = df1.loc[a,b]
print(df2)

                 Order ID  Quantity
Product
ThinkPad Laptop    166849         1
ThinkPad Laptop    166878         1
ThinkPad Laptop    166903         2
ThinkPad Laptop    166909         2
ThinkPad Laptop    166920         2
ThinkPad Laptop    166954         3
ThinkPad Laptop    166977         1
ThinkPad Laptop    167018         1
ThinkPad Laptop    167039         1
ThinkPad Laptop    167068         1
ThinkPad Laptop    167093         2
ThinkPad Laptop    167098         1
ThinkPad Laptop    167150         1
ThinkPad Laptop    167169         1
ThinkPad Laptop    167189         2
ThinkPad Laptop    167235         3
ThinkPad Laptop    167243         1
ThinkPad Laptop    167253         2
ThinkPad Laptop    167297         1
ThinkPad Laptop    167329         1
ThinkPad Laptop    167367         1
ThinkPad Laptop    167404         1
Flatscreen TV      166866         2
Flatscreen TV      166911         1
Flatscreen TV      166938         3
Flatscreen TV      166961         1
Flatscreen TV      166969         1
Flatscreen TV      166995         1
Flatscreen TV      167004         1
Flatscreen TV      167052         1
Flatscreen TV      167053         1
Flatscreen TV      167075         1
Flatscreen TV      167094         2
Flatscreen TV      167100         1
Flatscreen TV      167102         1
Flatscreen TV      167125         3
Flatscreen TV      167133         2
Flatscreen TV      167141         1
Flatscreen TV      167158         1
Flatscreen TV      167242         3
Flatscreen TV      167282         1
Flatscreen TV      167285         1
Flatscreen TV      167295         1
Flatscreen TV      167306         1
Flatscreen TV      167340         1
Flatscreen TV      167353         2
Flatscreen TV      167372         1
Flatscreen TV      167405         1

In [ ]:
#Setting index as a product name and selecting a couple products names with Order id and customer name
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = ['ThinkPad Laptop','Flatscreen TV']
b = ["Order ID","Customer Name"]
df2 = df1.loc[a,b]
print(df2)

                 Order ID Customer Name
Product
ThinkPad Laptop    166849        Shahid
ThinkPad Laptop    166878        Partha
ThinkPad Laptop    166903         Vijay
ThinkPad Laptop    166909       Pradhan
ThinkPad Laptop    166920  Jaya Chandra
ThinkPad Laptop    166954         Vijay
ThinkPad Laptop    166977         Kedar
ThinkPad Laptop    167018        Balaji
ThinkPad Laptop    167039         Venki
ThinkPad Laptop    167068         Kedar
ThinkPad Laptop    167093         Vijay
ThinkPad Laptop    167098         Sagar
ThinkPad Laptop    167150         Tarun
ThinkPad Laptop    167169     Madhurima
ThinkPad Laptop    167189        Partha
ThinkPad Laptop    167235        Balaji
ThinkPad Laptop    167243    Nireekshan
ThinkPad Laptop    167253    Nireekshan
ThinkPad Laptop    167297        Partha
ThinkPad Laptop    167329       Karteek
ThinkPad Laptop    167367       Neelima
ThinkPad Laptop    167404       Lavanya
Flatscreen TV      166866    Nireekshan
Flatscreen TV      166911        Siddhu
Flatscreen TV      166938        Partha
Flatscreen TV      166961         Venki
Flatscreen TV      166969       Karteek
Flatscreen TV      166995       Karteek
Flatscreen TV      167004       Sumanth
Flatscreen TV      167052       Neelima
Flatscreen TV      167053         Venki
Flatscreen TV      167075       Lavanya
Flatscreen TV      167094        Balaji
Flatscreen TV      167100       Neelima
Flatscreen TV      167102       Pradhan
Flatscreen TV      167125        Harsha
Flatscreen TV      167133       Sumanth
Flatscreen TV      167141       Karteek
Flatscreen TV      167158    Chaithanya
Flatscreen TV      167242  Jaya Chandra
Flatscreen TV      167282         Veeru
Flatscreen TV      167285         Veeru
Flatscreen TV      167295        Siddhu
Flatscreen TV      167306    Nireekshan
Flatscreen TV      167340        Shahid
Flatscreen TV      167353  Jaya Chandra
Flatscreen TV      167372   Mallikarjun
Flatscreen TV      167405          Venu

In [ ]:
#Setting index as a product name and selecting a couple products names with all columns between Order id and quantity
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = ['ThinkPad Laptop','Flatscreen TV']
b = ["Order ID","Quantity"]
df2 = df1.loc[a,"Order ID":"Quantity"]
print(df2)

                 Order ID Customer Name  Quantity
Product
ThinkPad Laptop    166849        Shahid         1
ThinkPad Laptop    166878        Partha         1
ThinkPad Laptop    166903         Vijay         2
ThinkPad Laptop    166909       Pradhan         2
ThinkPad Laptop    166920  Jaya Chandra         2
ThinkPad Laptop    166954         Vijay         3
ThinkPad Laptop    166977         Kedar         1
ThinkPad Laptop    167018        Balaji         1
ThinkPad Laptop    167039         Venki         1
ThinkPad Laptop    167068         Kedar         1
ThinkPad Laptop    167093         Vijay         2
ThinkPad Laptop    167098         Sagar         1
ThinkPad Laptop    167150         Tarun         1
ThinkPad Laptop    167169     Madhurima         1
ThinkPad Laptop    167189        Partha         2
ThinkPad Laptop    167235        Balaji         3
ThinkPad Laptop    167243    Nireekshan         1
ThinkPad Laptop    167253    Nireekshan         2
ThinkPad Laptop    167297        Partha         1
ThinkPad Laptop    167329       Karteek         1
ThinkPad Laptop    167367       Neelima         1
ThinkPad Laptop    167404       Lavanya         1
Flatscreen TV      166866    Nireekshan         2
Flatscreen TV      166911        Siddhu         1
Flatscreen TV      166938        Partha         3
Flatscreen TV      166961         Venki         1
Flatscreen TV      166969       Karteek         1
Flatscreen TV      166995       Karteek         1
Flatscreen TV      167004       Sumanth         1
Flatscreen TV      167052       Neelima         1
Flatscreen TV      167053         Venki         1
Flatscreen TV      167075       Lavanya         1
Flatscreen TV      167094        Balaji         2
Flatscreen TV      167100       Neelima         1
Flatscreen TV      167102       Pradhan         1
Flatscreen TV      167125        Harsha         3
Flatscreen TV      167133       Sumanth         2
Flatscreen TV      167141       Karteek         1
Flatscreen TV      167158    Chaithanya         1
Flatscreen TV      167242  Jaya Chandra         3
Flatscreen TV      167282         Veeru         1
Flatscreen TV      167285         Veeru         1
Flatscreen TV      167295        Siddhu         1
Flatscreen TV      167306    Nireekshan         1
Flatscreen TV      167340        Shahid         1
Flatscreen TV      167353  Jaya Chandra         2
Flatscreen TV      167372   Mallikarjun         1
Flatscreen TV      167405          Venu         1

In [ ]:
##Setting index as a product name and selecting a couple products names with Order id and Customer name
import pandas as pd
df1 = pd.read_csv("sales1.csv")
df2 = df1.set_index("Product",inplace=True)
a = ['ThinkPad Laptop','Flatscreen TV']
b = ["Order ID","Customer Name"]
df2 = df1.loc[a,"Order ID":"Customer Name"]
print(df2)

                 Order ID Customer Name
Product
ThinkPad Laptop    166849        Shahid
ThinkPad Laptop    166878        Partha
ThinkPad Laptop    166903         Vijay
ThinkPad Laptop    166909       Pradhan
ThinkPad Laptop    166920  Jaya Chandra
ThinkPad Laptop    166954         Vijay
ThinkPad Laptop    166977         Kedar
ThinkPad Laptop    167018        Balaji
ThinkPad Laptop    167039         Venki
ThinkPad Laptop    167068         Kedar
ThinkPad Laptop    167093         Vijay
ThinkPad Laptop    167098         Sagar
ThinkPad Laptop    167150         Tarun
ThinkPad Laptop    167169     Madhurima
ThinkPad Laptop    167189        Partha
ThinkPad Laptop    167235        Balaji
ThinkPad Laptop    167243    Nireekshan
ThinkPad Laptop    167253    Nireekshan
ThinkPad Laptop    167297        Partha
ThinkPad Laptop    167329       Karteek
ThinkPad Laptop    167367       Neelima
ThinkPad Laptop    167404       Lavanya
Flatscreen TV      166866    Nireekshan
Flatscreen TV      166911        Siddhu
Flatscreen TV      166938        Partha
Flatscreen TV      166961         Venki
Flatscreen TV      166969       Karteek
Flatscreen TV      166995       Karteek
Flatscreen TV      167004       Sumanth
Flatscreen TV      167052       Neelima
Flatscreen TV      167053         Venki
Flatscreen TV      167075       Lavanya
Flatscreen TV      167094        Balaji
Flatscreen TV      167100       Neelima
Flatscreen TV      167102       Pradhan
Flatscreen TV      167125        Harsha
Flatscreen TV      167133       Sumanth
Flatscreen TV      167141       Karteek
Flatscreen TV      167158    Chaithanya
Flatscreen TV      167242  Jaya Chandra
Flatscreen TV      167282         Veeru
Flatscreen TV      167285         Veeru
Flatscreen TV      167295        Siddhu
Flatscreen TV      167306    Nireekshan
Flatscreen TV      167340        Shahid
Flatscreen TV      167353  Jaya Chandra
Flatscreen TV      167372   Mallikarjun
Flatscreen TV      167405          Venu

In [ ]:
#Selecting rows with specific product with all columns between Order id and quantity
import pandas as pd
df1 = pd.read_csv("sales1.csv")
a = df1["Product"]=='iPhone 11'
df2 = df1.loc[a]
print(df2.head())

    Order ID Customer Name    Product  Quantity
3     166840       Lavanya  iPhone 11         3
9     166846        Siddhu  iPhone 11         1
22    166858    Chaithanya  iPhone 11         1
41    166877       Neelima  iPhone 11         1
68    166904       Lavanya  iPhone 11         1

In [ ]:
#Selecting rows with specific product with all columns between Order id and quantity
import pandas as pd
df1 = pd.read_csv("sales1.csv")
a = df1["Product"]=='iPhone 11'
df2 = df1.loc[a,"Order ID":"Quantity"]
print(df2.head())

    Order ID Customer Name    Product  Quantity
3     166840       Lavanya  iPhone 11         3
9     166846        Siddhu  iPhone 11         1
22    166858    Chaithanya  iPhone 11         1
41    166877       Neelima  iPhone 11         1
68    166904       Lavanya  iPhone 11         1

In [ ]:
#Select rows with specific customer with product name and customer name columns
import pandas as pd
df1 = pd.read_csv("sales1.csv")
a = df1["Product"]=='Macbook Pro Laptop'
df2 = df1.loc[a,"Customer Name":"Product"]
print(df2.head())

    Customer Name             Product
4            Venu  Macbook Pro Laptop
11        Karteek  Macbook Pro Laptop
15   Jaya Chandra  Macbook Pro Laptop
71        Karteek  Macbook Pro Laptop
122        Harsha  Macbook Pro Laptop